<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="OutputPath" value ="C:\Users\sankit\Desktop\FICA REconcilation ENhancement\FICA\patch.input"/>
    <add key="PRODUCTS" value="FICAJobService,FICAutomaticReportingUtility,PORTALDB"/>
    <add key="ProductsPath" value="C:\Users\sankit\Desktop\FICA REconcilation ENhancement\FICA"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>